<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>sku_id</th>
                    <th>product_id</th>
                    <th>sell_price</th>
                    <th>recom_price</th>
                    <th>cost</th>
                    <th>stock_quantity</th>
                    <th>create_time</th>
                    <th>update_time</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sku of allSku">
                    <td>{{ sku.sku_id }}</td>
                    <td>{{ sku.product_id }}</td>
                    <td>{{ sku.sell_price }}</td>
                    <td>{{ sku.recom_price }}</td>
                    <td>{{ sku.cost }}</td>
                    <td>{{ sku.stock_quantity }}</td>
                    <td>{{ sku.create_time }}</td>
                    <td>{{ sku.update_time }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
