<form  [formGroup]="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="sku_id">SKU ID</label>
        <br/>
        <select formControlName="sku_id"  id="sku_id">
          <option *ngFor="let skuid of sku">{{skuid.sku_id}}
          </option>
        </select>
        <!-- <div class="text-danger" *ngIf="form.controls.brand.errors && form.controls.brand.touched &&form.controls.brand.invalid">
          <div *ngIf="form.controls.brand.errors.required">必選</div>
        </div> -->
      </div>
  
      <div class="form-group">
        <label for="product_id">product ID</label>
        <br/>
        <select formControlName="product_id"  id="product_id">
          <option *ngFor="let productid of sku">{{productid.product_id}}
          </option>
        </select>
        <!-- <div class="text-danger" *ngIf="form.controls.brand.errors && form.controls.brand.touched &&form.controls.brand.invalid">
          <div *ngIf="form.controls.brand.errors.required">必選</div>
        </div> -->
      </div>

    <div class="form-group">
        <label for="sku_code">SKU Code</label>
        <br/>
        <select formControlName="sku_code"  id="sku_code">
          <option *ngFor="let skucode of sku">{{skucode.sku_code}}
          </option>
        </select>
        <!-- <div class="text-danger" *ngIf="form.controls.brand.errors && form.controls.brand.touched &&form.controls.brand.invalid">
          <div *ngIf="form.controls.brand.errors.required">必選</div>
        </div> -->
      </div>  
        
    <div class="form-group">
        <label for="sell_price">sell_price</label>
        <input type="number" class="form-control" id="sell_price" formControlName="sell_price">
        <!-- <div class="text-danger" *ngIf="form.controls.product_model.errors && form.controls.product_model.touched &&form.controls.product_model.invalid">
            <div *ngIf="form.controls.product_model.errors.required">必填</div>
        </div> -->
        </div>
  
    <div class="form-group">
        <label for="recom_price">recom_price</label>
        <input type="number" class="form-control" id="recom_price" formControlName="recom_price">
        <!-- <div class="text-danger" *ngIf="form.controls.product_model.errors && form.controls.product_model.touched &&form.controls.product_model.invalid">
            <div *ngIf="form.controls.product_model.errors.required">必填</div>
        </div> -->
        </div>
        
    <div class="form-group">
        <label for="cost">cost</label>
        <input type="number" class="form-control" id="cost" formControlName="cost">
        <!-- <div class="text-danger" *ngIf="form.controls.product_model.errors && form.controls.product_model.touched &&form.controls.product_model.invalid">
            <div *ngIf="form.controls.product_model.errors.required">必填</div>
        </div> -->
        </div>
        
    <div class="form-group">
        <label for="stock_quantity">stock_quantity</label>
        <input type="number" class="form-control" id="stock_quantity" formControlName="stock_quantity">
        <!-- <div class="text-danger" *ngIf="form.controls.product_model.errors && form.controls.product_model.touched &&form.controls.product_model.invalid">
            <div *ngIf="form.controls.product_model.errors.required">必填</div>
        </div> -->
        </div>
            
  
    <!-- <div class="form-group">
      <label for="brand">Brand</label>
      <br/>
      <select formControlName="brand"  id="brand">
        <option *ngFor="let brands of brand_name ;let i = index" [ngValue]="brands_id[i]">{{brands}}
        </option>
      </select>
      <div class="text-danger" *ngIf="form.controls.brand.errors && form.controls.brand.touched &&form.controls.brand.invalid">
        <div *ngIf="form.controls.brand.errors.required">必選</div>
      </div>
    </div>
  
    <br/>
  
    <div class="form-group">
      <label for="category">category</label><br/>
      <select formControlName="category"  id="category">
        <option *ngFor="let category of category_name ;let i = index" [ngValue]="category_id[i]">{{category}}
        </option>
      </select>
      <div class="text-danger" *ngIf="form.controls.category.errors && form.controls.category.touched &&form.controls.category.invalid">
        <div *ngIf="form.controls.category.errors.required">必選</div>
      </div>
    </div>
  
    <br/>
    <div class="form-group">
      <label for="supplier">supplier</label><br/>
      <select formControlName="supplier"  id="supplier">
        <option *ngFor="let supplier of supplier_name ; let i = index" [ngValue]="supplier_id[i]">{{supplier}}</option>
      </select>
      <div class="text-danger" *ngIf="form.controls.supplier.errors && form.controls.supplier.touched &&form.controls.supplier.invalid">
        <div *ngIf="form.controls.supplier.errors.required">必選</div>
      </div>
    </div> -->
    <button type="submit">送出</button>
  
  
  
  </form>
  
  