<div class ="container">
<div class="form-floating mb-3">
    <select class="form-select" aria-label="Default select example" required="true">
        <option selected>(none)</option>
        <option value="1">HUAWEI MateBook X I5 8+256G  - 流光金</option>
        <option value="2">iPhone 13 mini</option>
        <option value="3">iPhone SE (3rd Gen)</option>
        <option value="4">COMBO TOUCH</option>
        <option value="5">HP  Victus 16紳仕藍</option>
        <option value="6">Lenovo G24-10 顯示器</option>
        <option value="7">Acer 27吋2K曲面電競螢幕(ED270U P)</option>
        <option value="8">Lenovo Legion 5 15.6吋電競筆電</option>
        <option value="9">Galaxy S22 螢幕保護貼 透明</option>
        <option value="10">SLIM FOLIO PRO FOR IPAD PRO</option>
        <option value="11">HUAWEI MateBook X I5 8+256G  - 流光金</option>
        <option value="12">Lenovo Legion Slim 7 15.6吋電競</option>
        <option value="13">Google Pixel 充電器</option>
        <option value="14">Lenovo Legion Phone Duel 2 </option>
        <option value="15">HUAWEI Matepad T(10) 平板電腦 Wifi版 (2G/32G)</option>
    </select>
    <label for="floatingInput">product_name</label>
</div>

  <div class="form-floating mb-3">
    <select class="form-select" aria-label="Default select example" required ="true">
        <option selected>(none)</option>
        <option value="1">WT-W09</option>
        <option value="2">MLK33</option>
        <option value="3">MLK83</option>
        <option value="4">MLKE3</option>
        <option value="5">MLK13</option>
        <option value="6">MLK63</option>
        <option value="7">MLKC3</option>
        <option value="8">MLK03</option>
        <option value="9">MLK53</option>
        <option value="10">MLKA3</option>
        <option value="11">HUAWEI MateBook X I5 8+256G  - 流光金</option>
        <option value="12">Lenovo Legion Slim 7 15.6吋電競</option>
        <option value="13">Google Pixel 充電器</option>
        <option value="14">Lenovo Legion Phone Duel 2 </option>
        <option value="15">HUAWEI Matepad T(10) 平板電腦 Wifi版 (2G/32G)</option>
    </select>
    <label for="floatingInput">sku_code</label>
  </div>
</div>