<form>
  <div class ="container">
    <div class="form-floating mb-3">
      <select class="form-select" id="validationCustom04" required>
        <option *ngFor="let data of forms">{{data}}</option>
    </select>
    <label for="floatingInput">product_name</label>
    <div id="validationServer04Feedback" class="invalid-feedback">
      Please select a valid state.
    </div>
</div>

  <div class="form-floating mb-3">
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
        <option value="1">WT-W09</option>
        <option value="2">MLK33</option>
        <option value="3">MLK83</option>
        <option value="4">MLKE3</option>
        <option value="5">MLK13</option>
        <option value="6">MLK63</option>
        <option value="7">MLKC3</option>
        <option value="8">MLK03</option>
        <option value="9">MLK53</option>
        <option value="10">MLKA3</option>
        <option value="11">HUAWEI MateBook X I5 8+256G  - 流光金</option>
        <option value="12">Lenovo Legion Slim 7 15.6吋電競</option>
        <option value="13">Google Pixel 充電器</option>
        <option value="14">Lenovo Legion Phone Duel 2 </option>
        <option value="15">HUAWEI Matepad T(10) 平板電腦 Wifi版 (2G/32G)</option>
    </select>
    <label for="floatingInput">sku_code</label>
    <div id="validationServer04Feedback" class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>

  <div class="form-floating mb-3">
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
        <option value="15000">15000</option>
    </select>
    <label for="floatingInput">cost</label>
    <div id="validationServer04Feedback" class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="mb-3">
    <label for="validationTextarea" class="form-label">Memo</label>
    <textarea class="form-control" id="validationTextarea" placeholder="Please enter a message" required></textarea>
    <div class="invalid-feedback">
      Please enter a message.
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</div>
