<h1 class="alert alert-info text-center" >PRODUCT</h1>
<div class="posts">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search by product_id or post.product_name">
</div><br/>
<table class="table table-bordered table-striped table-hover ">
  <thead class="alert alert-dark">
    <tr >
      <th *ngFor="let th of tb" scope="col">{{th}}</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts | filter :searchText" >
      <td>{{ post.product_id}}</td>
      <td>{{ post.product_name}}</td>
      <td>{{ post.product_model}}</td>
      <td>{{ post.brand_id}}</td>
      <td>{{ post.category_id}}</td>
      <td>{{ post.supplier_id}}</td>
      <td>{{ post.create_time}}</td>
      <td>{{ post.details}}</td>
    </tr>
  </tbody>
</table>
