<form [formGroup]="form" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div class="form-group">
    <label for="product_name">product_name</label>
    <input type="text" class="form-control" id="product_name" formControlName="product_name">
    <div class="text-danger" *ngIf="form.controls.product_name.errors && form.controls.product_name.touched &&form.controls.product_name.invalid">
        <div *ngIf="form.controls.product_name.errors.required">必填</div>
    </div>
    </div>

    <div class="form-group">
      <label for="product_model">product_model</label>
      <input type="text" class="form-control" id="product_model" formControlName="product_model">
      <div class="text-danger" *ngIf="form.controls.product_model.errors && form.controls.product_model.touched &&form.controls.product_model.invalid">
          <div *ngIf="form.controls.product_model.errors.required">必填</div>
      </div>
      </div>



  <div class="form-group">
    <label for="brand_id">Brand</label>
    <br/>
    <select formControlName="brand_id"  id="brand_id">
      <option *ngFor="let brands of brand_name ;let i = index" [ngValue]="brands_id[i]">{{brands}}
      </option>
    </select>
    <div class="text-danger" *ngIf="form.controls.brand_id.errors && form.controls.brand_id.touched &&form.controls.brand_id.invalid">
      <div *ngIf="form.controls.brand_id.errors.required">必選</div>
    </div>
  </div>

  <br/>

  <div class="form-group">
    <label for="category_id">category</label><br/>
    <select formControlName="category_id"  id="category_id">
      <option *ngFor="let category of category_name ;let i = index" [ngValue]="category_id[i]">{{category}}
      </option>
    </select>
    <div class="text-danger" *ngIf="form.controls.category_id.errors && form.controls.category_id.touched &&form.controls.category_id.invalid">
      <div *ngIf="form.controls.category_id.errors.required">必選</div>
    </div>
  </div>

  <br/>
  <div class="form-group">
    <label for="supplier_id">supplier</label><br/>
    <select formControlName="supplier_id"  id="supplier_id">
      <option *ngFor="let supplier of supplier_name ; let i = index" [ngValue]="supplier_id[i]">{{supplier}}</option>
    </select>
    <div class="text-danger" *ngIf="form.controls.supplier_id.errors && form.controls.supplier_id.touched &&form.controls.supplier_id.invalid">
      <div *ngIf="form.controls.supplier_id.errors.required">必選</div>
    </div>
  </div>

  <div class="form-group">
    <label for="details">details</label>
    <input type="text" class="form-control" id="details" formControlName="details">

  </div>
  <button type="submit">送出</button>
</form>

